.porducto-servicio_datos {
    display:flex;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
  }

  .porducto-servicio__desc_comp {
    width: 350px;
    height: 250px;
    padding: 0 35px;
    background-color: #4169E1;
  }

  .porducto-servicio__font_comp {
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px; 
  }